In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#create filepath variable for both csv files
filepath_students = "Resources/students_complete.csv" 
filepath_schools = "Resources/schools_complete.csv"

#create dataframe for both csv files
students_df = pd.read_csv(filepath_students)
schools_df = pd.read_csv(filepath_schools)

students_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
schools_df.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
### District Metric Summary

# Calculate total schools in our district
total_schools = len(schools_df.index)
total_schools

15

In [5]:
# Reformat column values
# schools_df["size"] = schools_df["size"].astype(float).map("${:,}".format)
# I am wondering why the above code does not pass through. I found that it is because of
# the ,. However, I remember in KickstarterClean.ipynb we called a similar function
# and it changed the type of the column to float after reformatting with a ,. Is there a workaround
# to this problem?

# Calculate total students in our district
total_students_district = schools_df["size"].sum()
total_students_district

39170

In [6]:
# Calculate total budget in our district
total_budget_district = schools_df["budget"].sum()
total_budget_district

24649428

In [7]:
# Calculate average math score
avg_math_score_district = students_df["math_score"].mean()
avg_math_score_district

78.98537145774827

In [8]:
# Calculate average reading score
avg_reading_score_district = students_df["reading_score"].mean()
avg_reading_score_district

81.87784018381414

In [23]:
# Calculate % passing math
students_passing_math_district = students_df.loc[students_df["math_score"] >= 60]
total_students_passing_math_district = len(students_passing_math_district.index)

perc_students_pass_math_district = (total_students_passing_math_district / total_students_district) * 100
perc_students_pass_math_district

92.4457492979321

In [22]:
# Calculate % passing reading
students_passing_reading_district = students_df.loc[students_df["reading_score"] >= 60]
total_students_passing_reading_district = len(students_passing_reading_district.index)

perc_students_pass_reading_district = (total_students_passing_reading_district / total_students_district) * 100
perc_students_pass_reading_district

100.0

In [24]:
# Calculate overall passing rate
overall_passing_rate_district = (perc_students_pass_math_district + perc_students_pass_reading_district) / 2
overall_passing_rate_district

96.22287464896604

In [25]:
# Create District Metric Summary table
district_metric_summary_table = {'Total Schools' : total_schools, 'Total Students' : total_students_district,'Total Budget' : total_budget_district,
                                 'Average Math Score' : avg_math_score_district, 'Average Reading Score' : avg_reading_score_district, 
                                 '% Passing Math' : perc_students_pass_math_district, '% Passing Reading' : perc_students_pass_reading_district, 
                                 'Overall Passing Rate' : overall_passing_rate_district}
{'Metrics' : ['Total_Schools']}
district_metric_summary_table_df = pd.Dataframe(district_metric_summary_table)
district_metric_summary_table_df.head()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
### School Metric Summary